* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

.game {
    width: 100%;
    padding: 20px 0;
}
.game-container {
    display: flex;
    flex-direction: column;
}
.game_container {
    margin: 0 auto;
}
.game-container__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px
}
.game-container__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.game-container__title span {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}
.game-container__title span:nth-child(1) {
    color: blue;
}
.game-container__title span:nth-child(2) {
    color: yellow;
}
.game-container__title span:nth-child(3) {
    color: orange;
}
.game-container__title span:nth-child(4) {
    color: red;
}
.game-container__title span:nth-child(5) {
    color: purple;
}
.game-container__title span:nth-child(6) {
    color: green;
}
.playfield {
    position: relative;
    width: 100%;
}